*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all ease-in-out 0.3s;
    animation: showIn 0.3s ease-in;
    padding: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding: 1px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all ease-in-out 0.3s;
    animation: showIn 0.3s ease-in;
}

::-webkit-scrollbar-thumb {
    background: #dadbdd;
    border-radius: 10px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) all ease-in-out 0.3s;
    animation: showIn 0.3s ease-in;
    padding: 1px;
}

html{
    background: #f0f1f3f5;
    font-family: "Poppins", sans-serif;
    --primary: #7d1594;
    --error: #df465ae0;
    --dark: #121029;
    --black: #090322;
}

.area-bg{
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 20px;
    background: url("./img/bg6.png") no-repeat;
    width: 700px;
    height: 700px;
    background-size: contain;
    background-position: bottom;
}

.area{
    z-index: 4;
}
.container{
    padding: auto;
    margin: auto;
    min-width: auto;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.enregistrement{
    overflow: hidden;
    z-index: 4 !important;
    background: #fff;
    padding: 30px;
    box-shadow: rgb(0 0 0 / 15%) 1px 4px 3px -5px, rgb(0 0 0 / 10%) 3px 3px 1px -11px, rgb(0 0 0 / 20%) -3px 2px 4px -10px;
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group .btn{
    border-radius: 0px;
}

.btn-group .btn:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
}

.btn-group .btn:nth-child(2) {
    border-radius: 0px 4px 4px 0px;
}

.btn{
    padding: 10px 10px;
    border: none;
    font-size: .9rem;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: .93;
    font-weight: 500;
    font-family: "Poppins";
}

.btn:hover{
    opacity: 1;
    transition: all linear 0.3s;
    outline: none;
}




@keyframes pulse{
    25%{
        opacity: 0;
        transform: scale(25);
        transition: all linear .3s;
    }
    100% {
        opacity: 0;
        transform: scale(25);
        transition: all linear .3s;
    }
}


.btn-primary{
    background: var(--primary);
    color: white;
}

.btn-error{
    background: var(--error);
    color: white;
}

.btn-dark{
    background: var(--dark);
    color: white;
}

.btn-pulse {
    position: relative;
    overflow: hidden;
}

.btn-pulse::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    left: -250px;
    bottom: -250px;
    background: rgb(255 255 255 / 70%);
    border-radius: 100%;
    box-sizing: border-box;
    transition: all linear .3s;
    animation: pulse 4s linear infinite;
}

.enregistrement table{
    border: 1px solid rgb(0 0 0 / 20%);
    border-collapse: collapse;
    padding: 20px;
}


.enregistrement table tr td{
    padding: 5px 7px;
}

.enregistrement table tr:nth-child(odd) {
    background: rgb(0 0 0 / 5%);
}


.enregistrement table tr:nth-child(1) {
    background: var(--dark);
    color: white;
}

.enregistrement table tr:nth-child(1) td{
        padding:10px 10px !important;
}

.row{
    z-index: 4 !important;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin: auto;
    align-content: flex-end;
    max-width: 1100px;
}


.card-stat{
    z-index: 4 !important;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 15%) 1px 4px 3px -5px, rgb(0 0 0 / 10%) 3px 3px 1px -11px, rgb(0 0 0 / 20%) -3px 2px 4px -10px;
}

.title{
    text-align: center;
    color: var(--black);
}

.items{
    display: flex;
    flex-direction: column;
}

.items .item{
    border-bottom: solid 1px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    padding: 10px 5px;
    align-content:stretch;
    gap: 10px;
    position: relative;
}

.items .item h2{
    margin-right: 40px;
}
.items .item h3{
    text-align: right !important;
    position: absolute;
    right: 5px;
}

.items .item h2{
    font-weight: 600;
    font-size: 1rem;
}

.items .item:hover{
    background: rgb(0 0 0 / 0.8%);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out;
}

.navbar{
    background: white;
    box-shadow: rgb(0 0 0 / 15%) 1px 4px 3px -5px,
    rgb(0 0 0 / 10%) 3px 3px 1px -11px,
    rgb(0 0 0 / 20%) -3px 2px 4px -10px;
    width: 100%;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.navbar-brand a{
    text-decoration: none;
    color: #7d068d;
    font-size: 1.4rem;
    font-weight: 900;
}

@media screen and (max-width: 1100px){
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .enregistrement .table{
        overflow-y: scroll;
        font-size: .7rem !important;
    }
    .enregistrement .table table {
        width: 100%;
    }
    .card-stat {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .card-stat{
        width: 100vw;
    }
    .enregistrement{
        padding: 10px;
        width: 100vw;
    }

    .navbar{
        padding: 10px 10px;
        background: var(--primary);
    }
    .navbar *{
        color: white !important;
    }
}

.item .chip{
    display: block;
    background: #090322;
    padding: 7px;
    border-radius: 40%;
    color: white;
    font-size: .7rem;
}

.illustration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration img{
    height: 200px;
    width: auto;
}